# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
reactProject/node_modules
reactProject/.pnp
reactProject/.pnp.js

# testing
/coverage

# production
reactProject/build

# misc
reactProject/.DS_Store
reactProject/.env.local
reactProject/.env.development.local
reactProject/.env.test.local
reactProject/.env.production.local

reactProject/npm-debug.log*
reactProject/yarn-debug.log*
reactProject/yarn-error.log*

androidStudioProject/app/src/main/assets/build